.nelioab-timeline-graphic {
  width: 95%;
  height: 320px;
}

.nelioab-summary-graphic {
  margin: 15px;
  display: inline-block;
}

#nelioab-visitors {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

