/* DEFAULT THEME */
/* ------------- */

.nelioab-theme {
	background-image: red;
	margin: 2em;
	display: inline-block;
}

.nelioab-theme .theme-description { color: #aaa; margin: 0 2em 0 2em; text-align: center;}
.nelioab-theme .theme-description b { font-size:120%; }

.theme-image-selector {
	position: relative;
	width: 300px;
	height: 225px;
	border: 5px solid white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-khtml-border-radius: 15px;
}

.theme-image-wrapper {
	width: 300px;
	height: 225px;
	position: absolute;
	float: left;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-khtml-border-radius: 8px;
	background-color: white;
}

.theme-image-wrapper img {
	width: 300px;
	height: 225px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-khtml-border-radius: 8px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.nelioab-theme .nelioab-current-theme {
	position: absolute;
	float: left;
	bottom: 0px;
	margin-bottom: 10px;
	font-size: 20px;
	width: 240px;
	margin-left: 20px;
	text-align: center;
	padding: 15px 10px 15px 10px;
   background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
	color: white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-khtml-border-radius: 8px;
}

.nelioab-theme-tick {
	position: absolute;
	float: left;
	right: 0;
	width: 100px;
	height: 75px;
	background: url( '../images/theme-check.png' ) #cccccc;
	background-image: url( '../images/theme-check.png' );
	background-color: #cccccc;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-khtml-border-bottom-left-radius: 10px;
}


/*    SELECTED   */
/* ------------- */

.nelioab-selected .theme-description { color: black; }

.nelioab-selected .theme-image-selector{
	border-color: #3f67a8;
}

.nelioab-selected .theme-image-wrapper img {
	-khtml-border-radius: 8px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

.nelioab-selected .nelioab-theme-tick {
	background: url( '../images/theme-check.png' ) #3f67a8;
	background-image: url( '../images/theme-check.png' );
	background-color: #3f67a8;
	background-position: -100px 0px;
}


/*    HOVERING   */
/* ------------- */

.nelioab-theme:hover .theme-image-selector,
.nelioab-selected:hover .theme-image-selector {
	cursor: pointer;
}

.nelioab-theme:hover .theme-image-wrapper img,
.nelioab-selected:hover .theme-image-wrapper img {
	-khtml-border-radius: 8px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

.nelioab-theme:hover .theme-description { color: #555; }

.nelioab-theme:hover .theme-image-selector {
	border-color: #b5b5b5;
}

.nelioab-theme:hover .nelioab-theme-tick {
	background: url( '../images/theme-check.png' ) #b5b5b5;
	background-image: url( '../images/theme-check.png' );
	background-color: #b5b5b5;
	background-position: -200px 0px;
}

.nelioab-selected:hover .theme-image-selector {
	border-color: #6385bd;
}

.nelioab-selected:hover .theme-description { color: black; }

.nelioab-selected:hover .nelioab-theme-tick {
	background: url( '../images/theme-check.png' ) #6385bd;
	background-image: url( '../images/theme-check.png' );
	background-color: #6385bd;
	background-position: -100px 0px;
}



/* SPECIAL NEEDS FOR CURRENT THEME */
/* ------------------------------- */
.nelioab-is-current-theme       .theme-image-selector,
.nelioab-is-current-theme:hover .theme-image-selector {
	cursor: default;
}

.nelioab-is-current-theme:hover .nelioab-theme-tick {
	background: url( '../images/theme-check.png' ) #3f67a8;
	background-position: -100px 0px;
}

.nelioab-is-current-theme:hover .theme-image-selector{
	border-color: #3f67a8;
}

