/* ------------------- */
/*   GENERIC STUFF     */
/* ------------------- */

.setting-disabled {
	color: grey;
}

.form-table.setting-disabled th {
	color: grey;
}

.form-table.setting-disabled label.mandatory:before {
	background-color: grey;
}

#settings-tabs .nav-tab {
	cursor: hand;
	cursor: pointer;
}

#settings-tabs .nav-tab-active {
	cursor: default;
}

.nelio-sect h3 {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
}

label.mandatory:before {
	display: inline-block;
	width: 8px;
	height: 8px;
	content: '';
	background: black;
	border-radius: 50%;
	margin-right: 0.3em;
	margin-bottom: 2px;
}

.error-in-field { color: red; }
label.error-in-field.mandatory:before { background:red; }

.nelio-card a h3 {
	cursor:auto;
}

.nelio-card a.simple {
	text-decoration: none;
}

.nelio-card h3:first-child {
	font-size: 14px;
	padding: 6px;
	padding-left: 12px;
}

	@media ( min-width:600px ) {

		.nelio-card {
			display:inline-block;
			width:480px;
			height:210px;
			margin-right:15px;
		}

	}

/* ------------------- */
/*      DASHBOARD      */
/* ------------------- */

.nelio-rss-item {
    display: block;
    margin-bottom: 1em;
    position: relative;
    min-height: 60px;
}

.nelio-rss-featured-image {
    display: inline-block;
    height: 60px;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.nelio-rss-title {
    margin-left: 110px;
}

.nelio-rss-featured-image .attachment-thumbnail {
    width: 100px;
    height: 100px;
}

body.toplevel_page_nelioab-dashboard #poststuff .nelio-card {
	height: auto;
}

body.toplevel_page_nelioab-dashboard #poststuff .nelio-card h3 {
	cursor: hand;
	cursor: pointer;
}

body.toplevel_page_nelioab-dashboard #poststuff .nelio-card h3:first-child .tab-type {
	background-size: 20px 20px !important;
	display: inline-block;
	width: 20px !important;
	height: 20px !important;
	vertical-align: bottom;
	margin-right: 0.4em;
}



body.toplevel_page_nelioab-dashboard #poststuff .nelio-card h3:first-child #info-summary {
	float:right;
	margin-top:4px;
}

/* BOXES */
	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main {
		color: #666;
		font-weight: bold;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card .inside {
		margin:0px;
		padding:0px;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card .row {
		margin:0px;
		padding:0px;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card .col {
		margin:0px;
		padding:0px;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .col {
		height:140px;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .row.data {
		height:70px;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main span.value {
		font-size: 28px;
		line-height: 100%;
		display: block;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main span.value span.decimals {
		color: #AAA;
		font-size: 80%;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main span.label {
		font-size: 12px;
		display: block;
		text-transform: uppercase;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .padding-top {
		margin-top:1em;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data > .value,
	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data > .label {
		margin-left:20px;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.phone,
	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.tablet,
	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.desktop,
	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.hd {
		margin-left:60px;
		position:relative;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.phone:before,
	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.tablet:before,
	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.desktop:before,
	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.hd:before {
		position:absolute;
		left:-52px;
		width:48px;
		height:48px;
		display:block;
		content:'';
		background-image: url( '../images/heatmap-icons.png?version=3.4.4' );
		background-size: 96px 96px;
	}

	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.phone:before {
		background-position: 0px 0px;
	}
	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.tablet:before {
		background-position: 48px 0px;
	}
	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.desktop:before {
		background-position: 0px 48px;
	}
	body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data.hd:before {
		background-position: 48px 48px;
	}

	@media ( min-width:600px ) {
		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card {
			height: 200px;
		}

		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data > .value,
		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .data > .label {
			margin-left:0px;
		}

		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .col {
			display:inline-block;
			vertical-align: top;
		}

		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .padding-left {
			margin-left:1em;
		}

		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .col-2  { width: 15%; }
		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .col-3  { width: 28%; }
		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .col-4  { width: 32%; }
		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .col-5  { width: 40%; }
		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .col-6  { width: 48%; }
		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .col-7  { width: 58%; }
		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .col-8  { width: 66%; }
		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .col-9  { width: 70%; }
		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .col-10 { width: 84%; }

		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main div.graphic text[text-anchor="end"] {
			display:none;
		}

		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .column > div {
			height:70px;
		}

		body.toplevel_page_nelioab-dashboard #poststuff .nelio-card div.main .column > div:last-child {
			height:auto;
		}
	}


/* ------------------- */
/*    ADD EXPERIMENT   */
/* ------------------- */


div.nelio-sect label.error,
div.nelio-sect .error label,
div.nelio-sect .error .description {
	color:red;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
}
div.nelio-sect .error label:before {
	background:red;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
}
div.nelio-sect a.select2-choice.error,
div.nelio-card a.select2-choice.error,
div.nelio-sect input[type=email].error,
div.nelio-card input[type=email].error,
div.nelio-sect input[type=number].error,
div.nelio-card input[type=number].error,
div.nelio-sect input[type=password].error,
div.nelio-card input[type=password].error,
div.nelio-sect input[type=search].error,
div.nelio-card input[type=search].error,
div.nelio-sect input[type=tel].error,
div.nelio-card input[type=tel].error,
div.nelio-sect input[type=text].error,
div.nelio-card input[type=text].error,
div.nelio-sect input[type=url].error,
div.nelio-card input[type=url].error,
div.nelio-sect select.error,
div.nelio-card select.error,
div.nelio-sect textarea.error,
div.nelio-card textarea.error,
div.nelio-sect .error input[type=email],
div.nelio-card .error input[type=email],
div.nelio-sect .error input[type=number],
div.nelio-card .error input[type=number],
div.nelio-sect .error input[type=password],
div.nelio-card .error input[type=password],
div.nelio-sect .error input[type=search],
div.nelio-card .error input[type=search],
div.nelio-sect .error input[type=tel],
div.nelio-card .error input[type=tel],
div.nelio-sect .error input[type=text],
div.nelio-card .error input[type=text],
div.nelio-sect .error input[type=url],
div.nelio-card .error input[type=url],
div.nelio-sect .error select,
div.nelio-card .error select,
div.nelio-sect .error textarea,
div.nelio-card .error textarea {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 1px solid red;
}
div.nelio-sect a.select2-choice.error:focus,
div.nelio-card a.select2-choice.error:focus,
div.nelio-sect .select2-container-active a.select2-choice.error,
div.nelio-card .select2-container-active a.select2-choice.error,
div.nelio-sect input[type=email].error:focus,
div.nelio-card input[type=email].error:focus,
div.nelio-sect input[type=number].error:focus,
div.nelio-card input[type=number].error:focus,
div.nelio-sect input[type=password].error:focus,
div.nelio-card input[type=password].error:focus,
div.nelio-sect input[type=search].error:focus,
div.nelio-card input[type=search].error:focus,
div.nelio-sect input[type=tel].error:focus,
div.nelio-card input[type=tel].error:focus,
div.nelio-sect input[type=text].error:focus,
div.nelio-card input[type=text].error:focus,
div.nelio-sect input[type=url].error:focus,
div.nelio-card input[type=url].error:focus,
div.nelio-sect select.error:focus,
div.nelio-card select.error:focus,
div.nelio-sect textarea.error:focus,
div.nelio-card textarea.error:focus,
div.nelio-sect .error input[type=email]:focus,
div.nelio-card .error input[type=email]:focus,
div.nelio-sect .error input[type=number]:focus,
div.nelio-card .error input[type=number]:focus,
div.nelio-sect .error input[type=password]:focus,
div.nelio-card .error input[type=password]:focus,
div.nelio-sect .error input[type=search]:focus,
div.nelio-card .error input[type=search]:focus,
div.nelio-sect .error input[type=tel]:focus,
div.nelio-card .error input[type=tel]:focus,
div.nelio-sect .error input[type=text]:focus,
div.nelio-card .error input[type=text]:focus,
div.nelio-sect .error input[type=url]:focus,
div.nelio-card .error input[type=url]:focus,
div.nelio-sect .error select:focus,
div.nelio-card .error select:focus,
div.nelio-sect .error textarea:focus,
div.nelio-card .error textarea:focus {
	box-shadow: 0 0 2px rgba(255, 0, 0, 1);
	border: 1px solid rgba(255, 0, 0, 1);
}

form.nelio-exp-form div.alt-exp-content-block {
	max-width:750px;
}

form.nelio-exp-form div#controllers {
	max-width:750px;
}

form.nelio-exp-form div#content-theme-alts {
	max-width:none;
}

.new-actions a.disabled,
.new-actions a.disabled:hover {
	color: gray;
	text-decoration: none;
	cursor: default;
}

body #exp-tabs .nav-tab,
body #exp-tabs .nav-tab:hover {
	cursor:default;
	background-color: #e4e4e4;
	background: rgba( 0, 0, 0, 0.05 );
}

body #exp-tabs .nav-tab-active,
body #exp-tabs .nav-tab-active:hover {
	background: none;
}

body #goal-list .nelio-card {
	overflow: auto;
	width: 100%;
	height: auto;
	min-height: 180px;
}

body #goal-list .nelio-card:hover {
	box-shadow: 0 2px 2px -1px rgba(0,0,0,.3) !important;
	cursor: default;
}

body #goal-list .nelio-card h3 .row-actions {
	font-weight: normal;
}

body #goal-list .nelio-card h3 .row-actions a {
	text-decoration: none;
}

body #goal-list .nelio-card h3:hover .row-actions {
	visibility: visible;
}

body #goal-list .nelio-card .new-actions {
	text-align:center;
	margin-top: 2em;
	margin-left:4em;
	margin-right:4em;
	margin-bottom:1em;
}

body #goal-list .nelio-card .new-actions .wrapper {
	padding-top: 0.5em;
}

body #goal-list .nelio-card .actions .action {
	padding: 1em;
	border-top: 1px solid #f3f3f3;
	position:relative;
	margin-right: 3.2em;
}

body #goal-list .nelio-card .actions .action:last-child {
	border-bottom: 1px solid #f3f3f3;
}

body #goal-list .nelio-card .actions .action a.delete {
	color: #a00;
	font-size:80%;
	position:absolute;
	top:2px;
	right:10px;
	text-decoration:none;
	visibility:hidden;
}

body #goal-list .nelio-card .actions .action:hover a.delete {
	visibility: visible;
}

body #goal-list .nelio-card .actions .action a.delete:hover {
	color:red;
}

body #goal-list .nelio-card .actions .action select,
body #goal-list .nelio-card .actions .action input {
	font-size:100%;
}

/* -------------------- */
/* EDITING ALTERNATIVES */
/* -------------------- */

#alt-table > thead > tr > th.column-headline_image {
	width:48px;
}

#alt-table tr td div.headline_image_holder {
	width:30%;
	max-width:102px;
	display:inline-block;
	vertical-align:top;
	position:relative;
}

#alt-table tr td div.headline_image_hover {
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	color: white;
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	background: rgba(0,0,0,0.8);
	color: white;
  filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}

#alt-table tr td div.headline_image_hover:hover {
  filter: alpha(opacity=1);
	opacity: 1;
}

#alt-table tr td .headline_title {
	width:100%;
	margin:0px;
}

#alt-table tr td .headline_excerpt {
	width:100%;
	margin:0px;
	margin-top:5px;
	height:68px;
}


/* ------------------- */
/* LIST OF EXPERIMENTS */
/* ------------------- */

#nelioab-experiment-list-table table.experiments {
	table-layout: auto;
}

#nelioab-experiment-list-table .wp-list-table .column-name {
	min-width: 260px;
}

#nelioab-experiment-list-table .wp-list-table .column-type {
	width: 32px;
	min-width: 32px;
}

#nelioab-experiment-list-table .wp-list-table .column-status {
	width: 120px;
	min-width: 120px;
}

#nelioab-experiment-list-table .wp-list-table .column-status a {
	text-align: center;
}

#nelioab-experiment-list-table .wp-list-table .column-relevant_date {
	width: 260px;
	min-width: 260px;
}

@media (max-width:900px) {
	#nelioab-experiment-list-table .wp-list-table .column-relevant_date {
		display:none;
}	}


/* ------------------- */
/*       SETTINGS      */
/* ------------------- */

#registered-sites-table {
	margin-top: 1em;
}

#registered-sites-table .tablenav {
	display: none;
}

#muplugin-descr .status {
	padding: 0 0.5em 0em 0.2em;
}

#muplugin-descr .status.installed {
	color: #00aa00;
	background-color: #efffef;
}

#muplugin-descr .status.outdated {
	color: #ff5000;
	background-color: #fcecae;
}

#muplugin-descr .status.uninstalled {
	color: #aa0000;
	background-color: #ffdcdc;
}


/* ------------------- */
/*        PAGES        */
/* ------------------- */

#toplevel_page_nelioab-experiments div.wp-menu-image,
#toplevel_page_nelioab-dashboard div.wp-menu-image {
	background-image: url('../images/menu.png?version=3.4.4');
	background-position: 0px -32px;
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
	#toplevel_page_nelioab-experiments div.wp-menu-image,
	#toplevel_page_nelioab-dashboard div.wp-menu-image {
		background-image: url('../images/2x/menu.png?version=3.4.4');
		background-size: 30px 64px;
	}
}

#toplevel_page_nelioab-experiments:hover div.wp-menu-image,
#toplevel_page_nelioab-experiments.wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-experiments :hover div.wp-menu-image,
#toplevel_page_nelioab-experiments .wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-experiments .current div.wp-menu-image,
#toplevel_page_nelioab-dashboard:hover div.wp-menu-image,
#toplevel_page_nelioab-dashboard.wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-dashboard :hover div.wp-menu-image,
#toplevel_page_nelioab-dashboard .wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-dashboard .current div.wp-menu-image {
	background-position: 0px 0px;
}

#icon-nelioab {
	background-image: url('../images/icons32.png?version=3.4.4');
	background-position: -12px -6px;
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
#icon-nelioab {
	background-image: url('../images/2x/icons32.png?version=3.4.4');
	background-size: 58px 45px;
	}
}

p.nelio-admin-explanation {
    font-size: medium;
    max-width: 500px;
}

div.nelio-message {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center;
}

/* ------------------- */
/*       ASSETS        */
/* ------------------- */

.nelioab-inline-asset {
	width:18px;
	height:18px;
	display:inline-block;
}

.nelioab-warning {
	background:       url( '../images/warning.png?version=3.4.4' );
	background-image: url( '../images/warning.png?version=3.4.4' );
}


@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
.nelioab-warning {
	background:       url( '../images/2x/warning.png?version=3.4.4' );
	background-image: url( '../images/2x/warning.png?version=3.4.4' );
	background-size: 18px 18px;
} }



/* ------------------- */
/*   LOADING ANIM      */
/* ------------------- */

.nelioab_spinner {
  width: 40px;
  height: 40px;
  margin: 50px auto;
  background-color: #555;

  border-radius: 100%;  
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}

.white_spinner {
	background-color:white;
}

@-webkit-keyframes scaleout {
  from { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  from { transform: scale(0.0) }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}

