/* ------------------- */
/*        PAGES        */
/* ------------------- */

@font-face {
    font-family: 'NelioFont';
    src: url('nelio-font.eot') format('eot'),
         url('nelio-font.woff') format('woff'),
         url('nelio-font.ttf') format('truetype'),
         url('nelio-font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#toplevel_page_nelioab-experiments div.wp-menu-image:before {
	font-family: 'NelioFont' !important;
	content: '\f100';
}

#toplevel_page_nelioab-experiments div.wp-menu-image {
	background: none;
	background-image: none;
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
	#toplevel_page_nelioab-experiments div.wp-menu-image {
		background: none;
		background-image: none;
	}
}

#toplevel_page_nelioab-experiments:hover div.wp-menu-image,
#toplevel_page_nelioab-experiments.wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-experiments :hover div.wp-menu-image,
#toplevel_page_nelioab-experiments .wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-experiments .current div.wp-menu-image {
	background-position: 0px 0px;
}

