/* ------------------- */
/* LIST OF EXPERIMENTS */
/* ------------------- */

#nelioab-experiment-list-table table.experiments {
	table-layout: auto;
}

#nelioab-experiment-list-table .wp-list-table .column-name {
	min-width: 260px;
}

#nelioab-experiment-list-table .wp-list-table .column-type {
	width: 32px;
	min-width: 32px;
}

#nelioab-experiment-list-table .wp-list-table .column-status {
	width: 120px;
	min-width: 120px;
}

#nelioab-experiment-list-table .wp-list-table .column-status a {
	text-align: center;
}

#nelioab-experiment-list-table .wp-list-table .column-creation {
	width: 260px;
	min-width: 260px;
}

@media (max-width:900px) {
	#nelioab-experiment-list-table .wp-list-table .column-creation {
		display:none;
	}
}


/* ------------------- */
/*        PAGES        */
/* ------------------- */

/* TODO: recover when using dashboard
#toplevel_page_nelioab-admin-pages div.wp-menu-image {
	background-image: url('../images/menu.png');
	background-position: 0px -32px;
}

#toplevel_page_nelioab-admin-pages:hover div.wp-menu-image,
#toplevel_page_nelioab-admin-pages.wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-admin-pages :hover div.wp-menu-image,
#toplevel_page_nelioab-admin-pages .wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-admin-pages .current div.wp-menu-image {
	background-position: 0px 0px;
}
*/

#toplevel_page_nelioab-experiments div.wp-menu-image {
	background-image: url('../images/menu.png');
	background-position: 0px -32px;
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
	#toplevel_page_nelioab-experiments div.wp-menu-image {
		background-image: url('../images/2x/menu.png');
		background-size: 30px 64px;
	}
}

#toplevel_page_nelioab-experiments:hover div.wp-menu-image,
#toplevel_page_nelioab-experiments.wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-experiments :hover div.wp-menu-image,
#toplevel_page_nelioab-experiments .wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-experiments .current div.wp-menu-image {
	background-position: 0px 0px;
}

#icon-nelioab {
	background-image: url('../images/icons32.png');
	background-position: -12px -6px;
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
#icon-nelioab {
	background-image: url('../images/2x/icons32.png');
	background-size: 58px 45px;
	}
}
.button-primary-disabled, .button-primary[disabled], .button-primary:disabled {
	cursor: default;
}

.button-primary-disabled:hover, .button-primary[disabled]:hover, .button-primary:disabled:hover {
	border: 1px solid #298cba !important;
}



/* ------------------- */
/*       ASSETS        */
/* ------------------- */

.nelioab-inline-asset {
	width:18px;
	height:18px;
	display:inline-block;
}

.nelioab-warning {
	background:       url( '../images/warning.png' );
	background-image: url( '../images/warning.png' );
}


@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
.nelioab-warning {
	background:       url( '../images/2x/warning.png' );
	background-image: url( '../images/2x/warning.png' );
	background-size: 18px 18px;
} }



/* ------------------- */
/*   LOADING ANIM      */
/* ------------------- */

<style>
.bubblingG {
text-align: center;
width:120px;
height:75px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 15px;
height: 15px;
margin: 38px auto;
background: #F0F0F0;
-moz-border-radius: 75px;
-moz-animation: bubblingG 1s infinite alternate;
-webkit-border-radius: 75px;
-webkit-animation: bubblingG 1s infinite alternate;
-ms-border-radius: 75px;
-ms-animation: bubblingG 1s infinite alternate;
-o-border-radius: 75px;
-o-animation: bubblingG 1s infinite alternate;
border-radius: 75px;
animation: bubblingG 1s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.3s;
-webkit-animation-delay: 0.3s;
-ms-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
animation-delay: 0.3s;
}

#bubblingG_3 {
-moz-animation-delay: 0.6s;
-webkit-animation-delay: 0.6s;
-ms-animation-delay: 0.6s;
-o-animation-delay: 0.6s;
animation-delay: 0.6s;
}

@-moz-keyframes bubblingG {
0% {
width: 15px;
height: 15px;
background-color:#F0F0F0;
-moz-transform: translateY(0);
}

100% {
width: 36px;
height: 36px;
background-color:#4D4D4D;
-moz-transform: translateY(-32px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 15px;
height: 15px;
background-color:#F0F0F0;
-webkit-transform: translateY(0);
}

100% {
width: 36px;
height: 36px;
background-color:#4D4D4D;
-webkit-transform: translateY(-32px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 15px;
height: 15px;
background-color:#F0F0F0;
-ms-transform: translateY(0);
}

100% {
width: 36px;
height: 36px;
background-color:#4D4D4D;
-ms-transform: translateY(-32px);
}

}

@-o-keyframes bubblingG {
0% {
width: 15px;
height: 15px;
background-color:#F0F0F0;
-o-transform: translateY(0);
}

100% {
width: 36px;
height: 36px;
background-color:#4D4D4D;
-o-transform: translateY(-32px);
}

}

@keyframes bubblingG {
0% {
width: 15px;
height: 15px;
background-color:#F0F0F0;
transform: translateY(0);
}

100% {
width: 36px;
height: 36px;
background-color:#4D4D4D;
transform: translateY(-32px);
}

}
