/* ------------------- */
/*   HEATMAP VIEWER    */
/* ------------------- */

#hm-additional-controls {
	float:right;
}
#hm-additional-controls > li {
	margin-right:1em;
}

/* ------------------- */
/* LIST OF EXPERIMENTS */
/* ------------------- */

#nelioab-experiment-list-table table.experiments {
	table-layout: auto;
}

#nelioab-experiment-list-table .wp-list-table .column-name {
	min-width: 260px;
}

#nelioab-experiment-list-table .wp-list-table .column-type {
	width: 32px;
	min-width: 32px;
}

#nelioab-experiment-list-table .wp-list-table .column-status {
	width: 120px;
	min-width: 120px;
}

#nelioab-experiment-list-table .wp-list-table .column-status a {
	text-align: center;
}

#nelioab-experiment-list-table .wp-list-table .column-creation {
	width: 260px;
	min-width: 260px;
}

@media (max-width:900px) {
	#nelioab-experiment-list-table .wp-list-table .column-creation {
		display:none;
}	}


/* ------------------- */
/*       SETTINGS      */
/* ------------------- */

#registered-sites-table {
	margin-top: 1em;
}

#registered-sites-table .tablenav {
	display: none;
}


/* ------------------- */
/*        PAGES        */
/* ------------------- */

#toplevel_page_nelioab-experiments div.wp-menu-image,
#toplevel_page_nelioab-dashboard div.wp-menu-image {
	background-image: url('../images/menu.png');
	background-position: 0px -32px;
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
	#toplevel_page_nelioab-experiments div.wp-menu-image,
	#toplevel_page_nelioab-dashboard div.wp-menu-image {
		background-image: url('../images/2x/menu.png');
		background-size: 30px 64px;
	}
}

#toplevel_page_nelioab-experiments:hover div.wp-menu-image,
#toplevel_page_nelioab-experiments.wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-experiments :hover div.wp-menu-image,
#toplevel_page_nelioab-experiments .wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-experiments .current div.wp-menu-image,
#toplevel_page_nelioab-dashboard:hover div.wp-menu-image,
#toplevel_page_nelioab-dashboard.wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-dashboard :hover div.wp-menu-image,
#toplevel_page_nelioab-dashboard .wp-has-current-submenu div.wp-menu-image,
#toplevel_page_nelioab-dashboard .current div.wp-menu-image {
	background-position: 0px 0px;
}

#icon-nelioab {
	background-image: url('../images/icons32.png');
	background-position: -12px -6px;
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
#icon-nelioab {
	background-image: url('../images/2x/icons32.png');
	background-size: 58px 45px;
	}
}
.button-primary-disabled, .button-primary[disabled], .button-primary:disabled {
	cursor: default;
}

.button-primary-disabled:hover, .button-primary[disabled]:hover, .button-primary:disabled:hover {
	border: 1px solid #298cba !important;
}



/* ------------------- */
/*       ASSETS        */
/* ------------------- */

.nelioab-inline-asset {
	width:18px;
	height:18px;
	display:inline-block;
}

.nelioab-warning {
	background:       url( '../images/warning.png' );
	background-image: url( '../images/warning.png' );
}


@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
.nelioab-warning {
	background:       url( '../images/2x/warning.png' );
	background-image: url( '../images/2x/warning.png' );
	background-size: 18px 18px;
} }



/* ------------------- */
/*   LOADING ANIM      */
/* ------------------- */

.nelioab_spinner {
  width: 40px;
  height: 40px;
  margin: 50px auto;
  background-color: #555;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

.white_spinner {
	background-color:white;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { transform: scale(0.0) }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

