.nelio-card {
	height:180px;
	overflow: hidden;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .3);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .05);
    transition: all .28s cubic-bezier(.4, 0, .2, 1)!important;
    background: white;
}

.nelio-card:hover {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .19)!important;
    background: white;
    transition: all .28s cubic-bezier(.4, 0, .2, 1)!important;
    cursor: pointer;
}

.nelio-card .inside .main > a {
	text-decoration: none;
	color: inherit;
}

.nelio-card .inside .main .description {
	min-height:120px;
}

.nelioab-image {
	display:inline-block;
	width:120px;
	height:120px;
	float:left;
	margin-right:20px;
}

.nelioab-image-landing-page {
	background: url( '../images/new-exp-landing-page.png?version=3.4.4' );
	background-image: url( '../images/new-exp-landing-page.png?version=3.4.4' );
}

.empty {
	font-size: 150%;
	text-align: center;
	padding: 20px 0px;
	color: gray;
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
.nelioab-image-landing-page {
	background-image: url( '../images/2x/new-exp-landing-page.png?version=3.4.4' );
	background-size: 240px 120px;
} }


.nelioab-image-page {
	background: url( '../images/new-exp-page.png?version=3.4.4' );
	background-image: url( '../images/new-exp-page.png?version=3.4.4' );
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
.nelioab-image-page {
	background-image: url( '../images/2x/new-exp-page.png?version=3.4.4' );
	background-size: 240px 120px;
} }

.nelioab-image-post {
	background: url( '../images/new-exp-post.png?version=3.4.4' );
	background-image: url( '../images/new-exp-post.png?version=3.4.4' );
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
.nelioab-image-post {
	background-image: url( '../images/2x/new-exp-post.png?version=3.4.4' );
	background-size: 240px 120px;
} }

.nelioab-image-css {
	background: url( '../images/new-exp-css.png?version=3.4.4' );
	background-image: url( '../images/new-exp-css.png?version=3.4.4' );
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
.nelioab-image-css {
	background-image: url( '../images/2x/new-exp-css.png?version=3.4.4' );
	background-size: 240px 120px;
} }

.nelioab-image-menu {
	background: url( '../images/new-exp-menu.png?version=3.4.4' );
	background-image: url( '../images/new-exp-menu.png?version=3.4.4' );
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
.nelioab-image-menu {
	background-image: url( '../images/2x/new-exp-menu.png?version=3.4.4' );
	background-size: 240px 120px;
} }

.nelioab-image-title {
	background: url( '../images/new-exp-headline.png?version=3.4.4' );
	background-image: url( '../images/new-exp-headline.png?version=3.4.4' );
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
.nelioab-image-title {
	background-image: url( '../images/2x/new-exp-headline.png?version=3.4.4' );
	background-size: 240px 120px;
} }

.nelioab-image-theme {
	background: url( '../images/new-exp-theme.png?version=3.4.4' );
	background-image: url( '../images/new-exp-theme.png?version=3.4.4' );
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
.nelioab-image-theme {
	background-image: url( '../images/2x/new-exp-theme.png?version=3.4.4' );
	background-size: 240px 120px;
} }

.nelioab-image-cpt {
    background: url( '../images/new-exp-cpt.png?version=3.4.4' );
    background-image: url( '../images/new-exp-cpt.png?version=3.4.4' );
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
    .nelioab-image-cpt {
        background-image: url( '../images/2x/new-exp-cpt.png?version=3.4.4' );
        background-size: 240px 120px;
    } }

.nelioab-image-wc-product-summary {
    background: url( '../images/new-exp-wc-product-summary.png?version=3.4.4' );
    background-image: url( '../images/new-exp-wc-product-summary.png?version=3.4.4' );
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
    .nelioab-image-wc-product-summary {
        background-image: url( '../images/2x/new-exp-wc-product-summary.png?version=3.4.4' );
        background-size: 240px 120px;
    } }

.nelioab-image-widget {
	background: url( '../images/new-exp-widget.png?version=3.4.4' );
	background-image: url( '../images/new-exp-widget.png?version=3.4.4' );
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
.nelioab-image-widget {
	background-image: url( '../images/2x/new-exp-widget.png?version=3.4.4' );
	background-size: 240px 120px;
} }


.nelioab-image-heatmap {
	background: url( '../images/new-exp-heatmap.png?version=3.4.4' );
	background-image: url( '../images/new-exp-heatmap.png?version=3.4.4' );
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
.nelioab-image-heatmap {
	background-image: url( '../images/2x/new-exp-heatmap.png?version=3.4.4' );
	background-size: 240px 120px;
} }

