/* STYLING THE BOX */
.select2-container {
	width:240px;
}

.select2-container-active > a.select2-choice {
	box-shadow: 0 0 2px rgba(145, 200, 230, 1);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
	background:white;
}

.select2-container .select2-choice,
.select2-container.select2-drop-above .select2-choice {
	background:white;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	border: 1px solid #ddd;
	border-radius:0px;
}

.select2-container-active .select2-choice,
.select2-container-active.select2-drop-above .select2-choice {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #5b9dd9;
}

.select2-container > a.select2-choice > .select2-arrow {
	background:none;
	border:none;
}

.select2-drop-active,
.select2-drop-active.select2-drop-above {
	border:1px solid #888;
	margin-top:0px;
	border-radius:0px;
	width:100%;
	max-width:600px;
	min-width:240px;
}

.select2-search input {
	margin-top:4px;
	margin-bottom:4px;
}

.select2-drop-active > ul.select2-results {
	margin:0px;
	padding:0px;
}

.select2-search input.select2-active {
	background: #fff url('../../images/loading-small.gif') no-repeat 100%;
	background: url('../../images/loading-small.gif') no-repeat 100%,-webkit-gradient(linear,left bottom,left top,color-stop(0.85,#fff),color-stop(0.99,#eee));
	background: url('../../images/loading-small.gif') no-repeat 100%,-webkit-linear-gradient(center bottom,#fff 85%,#eee 99%);
	background: url('../../images/loading-small.gif') no-repeat 100%,-moz-linear-gradient(center bottom,#fff 85%,#eee 99%);
	background: url('../../images/loading-small.gif') no-repeat 100%,linear-gradient(to bottom,#fff 85%,#eee 99%) 0 0;
	background-size: 20px 20px;
}

/* STYLING THE RESULTS */

.select2-results li img {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.select2-results li.select2-highlighted img {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.select2-results li img.nelioab-no-thumbnail {
	opacity: 1.0;
	filter: alpha(opacity=100);
	background:url( '../images/feat-image-placeholder.png' );
}

.select2-results li.select2-highlighted img.nelioab-no-thumbnail {
	background:url( '../images/feat-image-placeholder-hover.png' );
}

.select2-results li {
	margin:0px;
}

.select2-results .result-content {
    min-height: 55px;
    position: relative;
}

.select2-results .result-image {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0px;
}

.select2-results .result-item {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-left: 60px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    top: 3px;
    left: 0;
}

.select2-results .result-image img {
    width: 50px;
    height: 50px;
    vertical-align:middle;
}

.select2-results .result-item .result-title {
    display:block;
}

.select2-results .result-item .result-author {
    display:inline-block;
    color: #a9a9a9;
    font-size:85%;
}

.select2-results .result-item .result-date {
    display:inline-block;
    margin-left:1em;
    color: #a9a9a9;
    font-size:85%;
}

.select2-results .result-item .result-type {
    display:inline-block;
    margin-left:1em;
    color: #a9a9a9;
    font-size:85%;
}

.select2-results .result-item .result-status {
    display:inline-block;
    margin-left:1em;
    color: #a9a9a9;
    font-size:85%;
}

.select2-results .select2-result:nth-child(odd) {
    background-color: #f9f9f9;
}

.select2-results .select2-highlighted {
    background: rgb(0, 116, 162) !important;
    color: #fff;
}

.select2-match {
    font-weight:bold;
    text-decoration: underline;
}
