/*INFO GRAPHICS */
.nelioab-timeline-graphic {
	height:260px;
	margin-top:10px;
}

.nelioab-summary-graphic {
	margin: 10px;
	height:320px;
	display: inline-block;
}

@media( min-width:1200px ) {
   .nelioab-summary-graphic { width:30%; }
}

@media( max-width:1200px ) {
   .nelioab-summary-graphic { max-width:480px; display:block; }
}



/* EXPERIMENT SUMMARY */

/* STATUSES */

#info-summary .status-star {
	background:       url( '../images/star.png' );
	background-image: url( '../images/star.png' );
	width:20px;
	height:20px;
	display:inline-block;
	margin-bottom:-4px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.25) {
#info-summary .status-star {
	background:       url( '../images/2x/star.png' );
	background-image: url( '../images/2x/star.png' );
	background-size: 20px 20px;
} }

#info-summary .status-clock {
	background:       url( '../images/clock.png' );
	background-image: url( '../images/clock.png' );
	width:20px;
	height:20px;
	display:inline-block;
	margin-bottom:-4px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.25) {
#info-summary .status-clock {
	background:       url( '../images/2x/clock.png' );
	background-image: url( '../images/2x/clock.png' );
	background-size: 20px 20px;
} }

#info-summary .status-tick {
	background:       url( '../images/tick.png' );
	background-image: url( '../images/tick.png' );
	width:20px;
	height:20px;
	display:inline-block;
	margin-bottom:-4px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.25) {
#info-summary .status-tick {
	background:       url( '../images/2x/tick.png' );
	background-image: url( '../images/2x/tick.png' );
	background-size: 20px 20px;
} }

/* END OF STATUSES */


div#info-summary {
	vertical-align:top;
}

	#summary-numbers {
		margin-top:0px;
		margin-left:10px;
		margin-right:10px;
		padding:10px;
		float:left;
	}

	#summary-numbers > h3 {
		font-size:12px;
		padding-left:2px;
		background:none !important;
	}

	#summary-numbers > .result {
		font-size:17px;
		text-align:right;
		margin-top:0.3em;
		margin-bottom:0.3em;
		width:170px;
	}

/* EXPERIMENT INFORMATION */

div#exp-info {
}

div#exp-info h3 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div#exp-info p {
	margin-left: 2em;
	padding-top: 0.5em;
	margin-top: 0px;
}

div#exp-info ul {
	margin-left: 1em;
	padding-top: 0.5em;
	margin-top: 0px;
}

div#exp-info ul > li {
	vertical-align: middle;
}

div#exp-info-gen {
	width:320px;
	display:inline-block;
	vertical-align:top;
}

div#exp-info-alts {
	min-width:320px;
	display:inline-block;
	vertical-align:top;
}

div#exp-info-alts .alt-type {
	font-size:90%;
	width:7em;
	margin-right:1em;
	display:inline-block;
	text-align:center;
}

div#exp-info-alts .alt-type-winner {
	background-color: #2F7ED8;
	color: white;
}
