/* TABLE OF ALTERNATIVES FOR POST EXPERIMENTS */

.js .postbox h3 { cursor:default; }
#poststuff { min-width:0; }

table#alternatives-in-progress {
	font-size:13px;
}

table#alternatives-in-progress tr td:last-child {
	min-width:350px;
}

table#alternatives-in-progress tr td:last-child small a { text-decoration:none; }

table#alternatives-in-progress tr td:last-child small a.apply-link.disabled,
table#alternatives-in-progress tr td:last-child small a.apply-link.disabled:hover {
	color: #AAA;
	cursor: default;
	text-decoration: none;
}

/* EXPERIMENT SUMMARY */

/* PREVIEW HEADLINE */
#preview-dialog-modal .newlioab-row {
	display: table;
}

#preview-dialog-modal .nelioab-image {
	display: table-cell;
	width: 110px;
	vertical-align: top;
}

#preview-dialog-modal .nelioab-image img {
	width: 100px;
	height: 100px;
}

#preview-dialog-modal .nelioab-text {
	display: table-cell;
	vertical-align: top;
}

#preview-dialog-modal .nelioab-text .nelioab-title {
	padding-top: 0px;
	margin-top: 0px;
	font-size: 115%;
	font-weight: bold;
}



/* STATUSES */

#info-summary .status-icon {
	width:16px;
	height:16px;
	display:inline-block;
	margin-bottom:-2px;
	background-size: 32px 16px;
}

#info-summary .status-colorblind {
	background-position-x: 16px;
}

#info-summary .status-gray {
	background-image: url( '../images/gray.png?version=3.3.0' );
}
@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
#info-summary .status-gray {
	background-image: url( '../images/2x/gray.png?version=3.3.0' );
} }

#info-summary .status-tick {
	background-image: url( '../images/tick.png?version=3.3.0' );
}
@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
#info-summary .status-tick {
	background-image: url( '../images/2x/tick.png?version=3.3.0' );
} }

#info-summary .status-star {
	background-image: url( '../images/star.png?version=3.3.0' );
}
@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
#info-summary .status-star {
	background-image: url( '../images/2x/star.png?version=3.3.0' );
} }

#info-summary .status-clock {
	background-image: url( '../images/clock.png?version=3.3.0' );
}
@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
#info-summary .status-clock {
	background-image: url( '../images/2x/clock.png?version=3.3.0' );
} }

#info-summary .status-tick {
	background-image: url( '../images/tick.png?version=3.3.0' );
}
@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dppx) {
#info-summary .status-tick {
	background-image: url( '../images/2x/tick.png?version=3.3.0' );
} }

/* END OF STATUSES */


div#info-summary {
	vertical-align:top;
}

/*

*/

#summary-content { text-align: center; }

#summary-numbers {
	padding:10px;
	margin:auto;
	max-width:400px;
}

#summary-numbers > h3 {
	text-align:left;
	font-size:12px;
	padding-left:2px;
	background:none !important;
}


#summary-numbers > .result {
	text-align:right;
	font-size:16px;
	margin-top:0.3em;
	margin-bottom:0.3em;
	margin-right:1em;
}


#nelioab-timeline {
	height:260px;
	margin-top:10px;
}


@media screen and (min-width:960px) {
	#summary-content { text-align:left; }
	#summary-numbers { width:25%; margin-right:10px; display:inline-block; }
	#nelioab-timeline { width:68%; display:inline-block; }
}

@media screen and (min-width:1200px) {
	#summary-numbers { width:19%; }
	#nelioab-timeline { width:74%; }
}

@media screen and (min-width:1400px) {
	#summary-numbers { width:17%; }
	#nelioab-timeline { width:78%; }
}

@media screen and (min-width:1600px) {
	#nelioab-timeline { width:80%; }
}

/*
.nelioab-summary-graphic {
	margin: 10px;
	height:320px;
	display: inline-block;
}

*/


/* EXPERIMENT INFORMATION */

/*INFO GRAPHICS */

#nelioab-convrate-and-impfactor { text-align:left; }
.nelioab-summary-graphic {
	margin:0px; /* This has to be in pixels! */
	margin-top:20px; /* This has to be in pixels! */
	height:320px;
	width:100%;
	display: inline-block;
}

@media screen and (min-width:960px) {
   #nelioab-convrate-and-impfactor .nelioab-summary-graphic { width:48%; }
	#nelioab-conversion-rate { float:left; }
	#nelioab-improvement-factor { float:right; }
}

@media screen and (min-width:1200px) {
	#nelioab-visitors { display:inline-block; width:32%; padding-right:10px; }
	#nelioab-convrate-and-impfactor { display:inline-block; width:66%; margin:0px; padding:0px; }
		#nelioab-conversion-rate { float:none; width:48%; padding-right:10px; }
		#nelioab-improvement-factor { float:none; width:48%;}
}


div#exp-info {
}

@media (min-width:1280px) {
	div#exp-info .nelioab-row {
		display:table;
	}

	div#exp-info .nelioab-row .nelioab-first-col {
		width:31%;
		display:table-cell;
	}

	div#exp-info .nelioab-row .nelioab-second-col {
		width:31%;
		display:table-cell;
	}

	div#exp-info .nelioab-row .nelioab-third-col {
		width:31%;
		display:table-cell;
	}

}


div#exp-info h3 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div#exp-info p {
	margin-left: 2em;
	padding-top: 0.5em;
	margin-top: 0px;
}

div#exp-info ul {
	margin-left: 1em;
	padding-top: 0.5em;
	margin-top: 0px;
}

div#exp-info ul > li {
	vertical-align: middle;
}

div#exp-info-alts .alt-type {
	font-size:90%;
	width:8em;
	margin-right:1em;
	display:inline-block;
	text-align:center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div#exp-info-alts .alt-type,
div#exp-info-alts .alt-type:hover {
	background-color:#e0e0e0;
	color:#444;
}

